@import '../mixins/mixins.scss';
@import '../variables/colors.scss';

.productFeatures {
    &-title {
        font-size: 1.8em;
        margin: 2em 0;
        text-align: center;
    }

    &-card {
        width: 90%;
        max-width: 16em;
        padding: 1em;
        margin: 1em;
        box-shadow: .1em -0.1em 2.5em #ccc;

        @include centered;

        &-logo-1,
        &-logo-2,
        &-logo-3,
        &-logo-4 {
            width: 5em;
            height: 5em;
            box-shadow: .1em -0.1em .5em #bbb;

            position: relative;
        }

        &-logo-1 {

            &::after {
                content: '';
                width: 3em;
                height: 3em;
                clip-path: polygon(00% 100%, 100% 100%, 0% 0%);
                background: map-get($colors, "primary");
                position: absolute;
                bottom: 10%;
                left: 20%;
            }

            &:before {
                content: '';
                width: 1.5em;
                height: 1.5em;
                border-radius: 100em;
                background: map-get($colors, "secondary");
                position: absolute;
                top: 25%;
                right: 25%;
            }
        }

        &-logo-2 {

            &::after {
                content: '';
                width: 2em;
                height: 2em;
                clip-path: polygon(00% 100%, 100% 100%, 0% 0%);
                background: map-get($colors, "secondary");
                position: absolute;
                top: 50%;
                left: 50%;
            }

            &:before {
                content: '';
                width: 2.5em;
                height: 2.5em;
                background: map-get($colors, "secondary-darker");
                position: absolute;
                bottom: 35%;
                right: 35%;
            }
        }

        &-logo-3 {

            &::after {
                content: '';
                height: 0;
                width: 0;
                border-left: 2em solid map-get($colors, "primary");
                border-right: 2em solid transparent;
                border-bottom: 2em solid transparent;
                border-top: 2em solid transparent;
                position: absolute;
                bottom: 10%;
                right: 0;
            }

            &:before {
                content: '';
                width: 2.5em;
                height: 2.5em;
                border-radius: 100em;
                background: map-get($colors, "secondary-darker");
                position: absolute;
                top: 25%;
                left: 45%;
            }
        }

        &-logo-4 {

            &::after {
                content: '';
                height: 3.5em;
                width: 1.5em;
                background: map-get($colors, "secondary");
                position: absolute;
                bottom: 10%;
                left: 12%;
            }

            &:before {
                content: '';
                width: 2.2em;
                height: 1.1em;
                // border-radius: 100em;
                border-top-left-radius: 2.2em;
                border-top-right-radius: 2.2em;
                background: map-get($colors, "primary");
                position: absolute;
                top: 45%;
                left: 45%;
            }
        }

        &-title {
            font-size: 1.5em;
            margin: 1em 0;
        }

        &-description {
            font-size: 1.2em;
            text-align: center;
            color: grey;
            line-height: 1.2;
        }
    }
}