.hero {
    width: 100%;
    color: #fff;

    &-title,
    &-description {
        text-align: center;
        line-height: 1.5em;
    }

    &-title {
        font-size: 2em;
        font-weight: 700;
        margin: 1em 0;
    }

    &-description {
        font-size: 1.2em;
        font-weight: 100;
    }

    &-btn {
        width: 12em;
        // height: 2em;
        margin-top: 1.2em;
        padding: .8em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        color: #fff;
        font-weight: 500;
        background: linear-gradient(270deg, #00C6A7 0%, #00A2B8 150%);
        cursor: pointer;
    }

    &-media {
        width: 100%;
        max-width: calc(9*5em);
        height: 17em;
        background: #fff;
        margin-top: 2em;
        border-radius: .5em;
        box-shadow: 0em 0em 1em #444;
        position: relative;
        z-index: 3;
    }
}